<!doctype html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class='header'>
      <button type="button">Start</button>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div>
            <canvas id="latLong"></canvas>
          </div>
        </div>
        <div class="col">
          <div>
            <canvas id="headingBearing"></canvas>
          </div>
        </div>
        <div class="col">
          <div>
            <canvas id="rangeFt"></canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <canvas id="airGroundSpeed"></canvas>
          </div>
        </div>
        <div class="col">
          <div>
            <canvas id="thetaPhi"></canvas>
          </div>
        </div>
        <div class="col">
          <div>
            <canvas id="gpsBaroAlt"></canvas>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";
      const socket = io.connect('http://127.0.0.1:5000');

      let charts = {
        latLong: false,
        headingBearing: false,
        rangeFt: false,
        airGroundSpeed: false,
        thetaPhi: false,
        gpsBaroAlt: false
      }

      const dataLength = 20;


      const addData = (chart, label, data) => {
        // chart.data.labels.push(label);
        chart.data.datasets.forEach((dataset) => {
            dataset.data.push(data);
        });

        // if (chart.data.labels.length >= 11)  chart.data.labels.shift();
        if (chart.data.datasets[0].data.length >= 11) chart.data.datasets.forEach((dataset) => dataset.data.shift());

        chart.update();
      };

      
      const latLong = () => {      
        
      }

      

      const headingBearing = (local_time, heading_deg, bearing_deg) => {
        if(!charts.headingBearing) {
          //console.log('charts.headingBearing created', headingBearing)
          charts.headingBearing = new Chart(document.getElementById('headingBearing'), {
            type: 'line',
            data: {
              datasets: [
                { label: 'Heading', data: [0] },
                { label: 'Bearing', data: [10] }
              ],
              labels: ['123']
            },
            options: { animation: false }
          });
          //console.log('charts.headingBearing after', charts.headingBearing)
        } else {
          //console.log('charts.headingBearing', charts.headingBearing);
          charts.headingBearing.data.labels.push(local_time);
          if (charts.headingBearing.data.labels.length > dataLength)  charts.headingBearing.data.labels.shift();

          //console.log('charts.data.datasets',  charts.headingBearing.data.datasets[0].data)
          charts.headingBearing.data.datasets[0].data.push(heading_deg)
          if (charts.headingBearing.data.datasets[0].data.length > dataLength) charts.headingBearing.data.datasets[0].data.shift();

          //console.log('charts.data.datasets', charts.headingBearing.data.datasets[1].data)
          charts.headingBearing.data.datasets[1].data.push(bearing_deg)
          if (charts.headingBearing.data.datasets[1].data.length > dataLength) charts.headingBearing.data.datasets[1].data.shift();
        }
        // update data
        charts.headingBearing.update();
      }

      const rangeFt = () => {
        const chart1 = newChart('rangeFt');
      }

      const airGroundSpeed = () => {
        const chart1 = newChart('airGroundSpeed');
      }

      const thetaPhi = () => {
        const chart1 = newChart('thetaPhi');
      }

      const gpsBaroAlt = () => {
        const chart1 = newChart('gpsBaroAlt');
      }

      socket.on("data", (data) => {
        /// we have useful data now
        const { local_time, heading_deg, bearing_deg } = data;
        console.log(data);

        headingBearing(local_time, heading_deg, bearing_deg);
        
    //     'lat' : data[0],
    // 'lon' : data[1],
    // 'heading_deg' : data[2],
    // 'bearing_deg' : data[3],
    // 'range_ft' : data[4],
    // 'target_lat' : data[5],
    // 'target_lon' : data[6],
    // 'airspeed_fps' : data[7],
    // 'groundspeed_fps' : data[8],
    // 'theta_deg' : data[9],
    // 'phi_deg' : data[10],
    // 'gps_altitude_ft' : data[11],
    // 'baro_altitude_ft' : data[12],
    // 'bat_voltage_V' : data[13],
    // 'local_time' : data[14],
    // 'time_recorded' : data[15],
    // 'sound_bit' : data[16],
      });
    </script>
  </body>
</html>