<!doctype html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div>
            <canvas id="latLon"></canvas>
          </div>
        </div>
        <div class="col">
          <div>
            <canvas id="headingBearing"></canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <canvas id="rangeFt"></canvas>
          </div>
        </div>
        <div class="col">
          <div>
            <canvas id="airGroundSpeed"></canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <canvas id="thetaPhi"></canvas>
          </div>
        </div>
        <div class="col">
          <div>
            <canvas id="gpsBaroAlt"></canvas>
          </div>
        </div>
      </div>
    </div>
    <script>
      
    </script>
    <script type="module">
      import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";
      const socket = io.connect('http://127.0.0.1:5000');

      const synth = window.speechSynthesis;

      const dataChartLength = 20;
      const dataPlotLength = 40;

      let charts = {
        latLon: new Chart(document.getElementById('latLon'), {
          type: 'scatter',
          data: {
            datasets: [
              { label: 'Current Lat Log' },
              { label: 'Lat Log' }
            ]
          },
          options: { 
            animation: false,
            showLine: true,
            elements: {
              line: {
                tension: 1
              }
            }
          }
        }),
        headingBearing: new Chart(document.getElementById('headingBearing'), {
          type: 'line',
          data: {
            datasets: [
              { label: 'Heading' },
              { label: 'Bearing' }
            ]
          },
          options: { animation: false }
        }),
        rangeFt: new Chart(document.getElementById('rangeFt'), {
          type: 'line',
          data: {
            datasets: [
              { label: 'Range Feet' },
            ]
          },
          options: { animation: false }
        }),
        airGroundSpeed: new Chart(document.getElementById('airGroundSpeed'), {
          type: 'line',
          data: {
            datasets: [
              { label: 'Air Speed' },
              { label: 'Ground Speed' }
            ]
          },
          options: { animation: false }
        }),
        thetaPhi: new Chart(document.getElementById('thetaPhi'), {
          type: 'line',
          data: {
            datasets: [
              { label: 'theta_deg' },
              { label: 'phi_deg' }
            ]
          },
          options: { animation: false }
        }),
        gpsBaroAlt: new Chart(document.getElementById('gpsBaroAlt'), {
          type: 'line',
          data: {
            datasets: [
              { label: 'gps_altitude_ft' },
              { label: 'baro_altitude_ft' }
            ]
          },
          options: { animation: false }
        })
      }

      const updateCharts = () => {
        Object.values(charts).forEach(chart => {
          if (!!chart) chart.update();
        });
      }

      const addChartInformation = (chart, label, ...chartData) => {
        if(!charts[chart]) return;

        charts[chart].data.labels.push(label);
        if (charts[chart].data.labels.length > dataChartLength) charts[chart].data.labels.shift();

        chartData.map((value, index) => {
          charts[chart].data.datasets[index].data.push(value);
          if (charts[chart].data.datasets[index].data.length > dataChartLength) charts[chart].data.datasets[index].data.shift();
        });
      } 

      const addChartPlot = (chart, plot) => {
        if (!charts[chart]) return;

        let oldPlot;

        const maxZoom = 1.0002;
        const minZoom = .9998;
        charts[chart].options.scales.x.max = plot.x * maxZoom;
        charts[chart].options.scales.x.min = plot.x * minZoom;
        charts[chart].options.scales.y.max = plot.y * maxZoom;
        charts[chart].options.scales.y.min = plot.y * minZoom;
        charts[chart].data.datasets[0].data.push(plot);
        if (charts[chart].data.datasets[0].data.length > 1) oldPlot = charts[chart].data.datasets[0].data.shift();

        if (oldPlot) {
          charts[chart].data.datasets[1].data.push(oldPlot);
          charts[chart].data.datasets[1].data.push(plot);
          if (charts[chart].data.datasets[1].data.length > dataPlotLength) charts[chart].data.datasets[1].data.shift();
        }
      }

      const playSound = (sound_bit) => {
        const voices = synth.getVoices();
        const utterThis = new SpeechSynthesisUtterance(sound_bit);
        utterThis.voice = voices[6];
        synth.speak(utterThis);
      }
      
      socket.on("data", (data) => {
        const { local_time, lat, lon, heading_deg, bearing_deg, range_ft, airspeed_fps, groundspeed_fps, theta_deg, phi_deg, gps_altitude_ft, baro_altitude_ft, sound_bit } = data;

        const time = Math.round(local_time * 100) / 1000

        addChartPlot('latLon', { y: lat, x: lon });
        addChartInformation('headingBearing', time, heading_deg, bearing_deg);
        addChartInformation('rangeFt', time, range_ft);
        addChartInformation('airGroundSpeed', time, airspeed_fps, groundspeed_fps);
        addChartInformation('thetaPhi', time, theta_deg, phi_deg);
        addChartInformation('gpsBaroAlt', time, gps_altitude_ft, baro_altitude_ft);
        
        updateCharts();

        // if (typeof sound_bit === 'string' && (sound_bit != '0' && sound_bit != '')) playSound(sound_bit);


    // 'lat' : data[0],
    // 'lon' : data[1],
    // 'heading_deg' : data[2],
    // 'bearing_deg' : data[3],
    // 'range_ft' : data[4],
    // 'target_lat' : data[5],
    // 'target_lon' : data[6],
    // 'airspeed_fps' : data[7],
    // 'groundspeed_fps' : data[8],
    // 'theta_deg' : data[9],
    // 'phi_deg' : data[10],
    // 'gps_altitude_ft' : data[11],
    // 'baro_altitude_ft' : data[12],
    // 'bat_voltage_V' : data[13],
    // 'local_time' : data[14],
    // 'time_recorded' : data[15],
    // 'sound_bit' : data[16],
      });
    </script>
  </body>
</html>